<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name=".standby_org" connectionString="XpoProvider=MSSqlServer;data source=.;user id=sa;password=123adr;initial catalog=standby_org;Persist Security Info=true;Encrypt=False;TrustServerCertificate=True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>